body{
    background: #3cebcb;
    position: relative;
}
.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    perspective: 1000px;
     -webkit-perspective: 1300px;
    
}
.headerError,.mainError,.closeError,.searchError{
    width: 500px;
}
.headerError{
    background: #ccc;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.mainError{
    background: #eee;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 20px 10px -5px rgb(0,0,0,.7)  ;
        transform-origin: top;

        animation: move 2s ease-in-out infinite;
    
    
}
@keyframes move 
{
    0%{
        transform:rotateX(-20deg);
    }
    60%{
        transform:rotateX(30deg);
         box-shadow: 0px 20px 50px -5px rgb(0,0,0,.7)  ;
    }
    100%{
        transform:rotateX(-20deg);
    }
    
}
.closeError{
    height:auto;
    display: flex;
    padding: 5px 20px;
    box-sizing: border-box;
}
.cir{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px;
    opacity: .8;
}
.cir:nth-child(1){
    background:#ff5a1e;
}
.cir:nth-child(2){
    background:#ffeb19;
}
.cir:nth-child(3){
    background:#16bc00;
}
.searchError span{
    width: 30px;
    height: 20px;
    float: left;
    padding: 2px;
    opacity: .8;
}
.searchError span:nth-child(1){
background-image: url(42_left-512.png);
background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .4;
}
.searchError span:nth-child(2){
background-image: url(45_right-512.png);
background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .2;
}
.searchError{
    display: flex;
    padding:3px;
    box-sizing: border-box;
}
.search{
    width: 100%;
    background: #eee;
    box-shadow: 0 0 5px 3px rgb(100,100,100,.15);
    border-radius: 25px;
    margin: 3px 10px;
    box-sizing: border-box;
}
h4{
    font-size: 25px;
    margin: 20px
}
h5{
    font-size: 40px;
    margin: 0;
}
p{
    font-size: 16px;
    margin-bottom: 30px;
}
